.navigation{
    padding: 0px 30px;

    a,a:visited,a:active,a:hover,a:focus  {
        padding: 0 20px;
        line-height: 50px;
        height: 50px;
        display: inline-block;


        color:white;
        text-decoration: none;
        font-size: 16px;
        font-weight: 500;


        &:hover{
            background: rgba(0,0,0,0.2);
        }
    }
}