html, body {
    background:$background;
    height:100%;
    padding:0;
    margin:0;

    h1,h2,h3,h4,h5,h6,a,div,p,li,ul,span {
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    .example-container, .container-play{
        margin-top:100px;
    }

    .container-play{
        padding:0px 40px;
        
        textarea{
            display: block;
            width:100%;
            min-height: 300px;
        }
        
        .parzen-line{
            border-bottom:1px solid $border;
            padding:5px;
        }

        .play-thing {
            max-width: 900px;
            border-bottom:1px solid $border;
            margin-bottom: 20px;
            


            pre {
                white-space: pre-wrap;
                code{
                    display: block;
                    padding:15px;
                }
            }

            h1{
                margin-bottom:5px;
            }
            
            img {
                height: 28px;
            }
        }
    }

    #app, .app-main {
        height:100%;

        .code-links{
            margin-bottom: 10px;
            .code-link{
                margin-right:5px;
                line-height: auto;
                &.npm-link{
                    img{
                        margin-bottom:-4px;
                    }
                }
            }
        }

        .cv{
            a {
                display: block;
                padding:20px 30px;
                border:1px solid black;
                border-radius: 4px;
            }
        }

        .left-panel {

            float:left;
            width:$panelsplit;
            height:100%;
            background:$background;
            overflow:hidden;
            border-right:1px solid $border;

            .branching {    
                height:100%;
                padding:0 40px;

                svg {
                    height:250%; 
                    position: relative;
                    top: 50%;
                    transform: perspective(1px) translateY(-50%); 
                    min-height: 2000px;
                    max-width: 65px;

                    .circle{
                        animation-duration: .4s;
                        transform-origin: center center;
                        -webkit-animation-fill-mode: forwards;
                        transform: scale(0.1);
                        
                        &:hover{ 
                            
                        }
                    }

                    &.finished {
                        .circle{
                            animation-name: buttonTransition;
                        }
                    }

                    
                }
            }
        }
        .main-window{
            float:left;
            height:100%;
            position: absolute;
            left:$panelsplit;
            top:0;
            right:0;

            .gallery{
                margin:0;
                padding:0;
                background:#e3e3e3;

                img{
                    width:100%;
                    height: auto;
                    max-width: 1500px;
                    margin-bottom: -5px;
                }

                .no-thingo{
                    margin:0;
                    padding:4px;

                    &.vertical:first-child{
                        padding-top:0;
                    }
                }
            }
            .example-img{
                position: relative;
                border-bottom: 20px solid $examplebackground;
                margin-bottom:200px;
                margin-top:40px;
          
                .description{
                    overflow: hidden;
                    background: rgba(255,255,255,0.9);
                    padding: 20px;
                    position: absolute;
                    bottom: -90px;
                    
                    h1{
                        margin: 0;
                    }

                    .desco{
                        width: 40%;
                    }

                    a{
                        word-wrap: break-word;
                    }

                    .color3{
                        background: none;
                        
                    }
                    
                }

                .img-container{
                 
                    
                    img{
                       
                    }
                }
            }
            .cards{
                height:100%;
                overflow-y: auto;
            }

            .card1{
                border-right:1px solid $lightborder;     
            }

            .card{
                margin-top:50px;
                &.isamea {
                    width:60%;
                }

                &.hide-state{
                    display: none;
                }

                &.show-state{
                    display: block;
                } 

                float:left;
                padding:20px 40px;
                height:100%;
                    
                font-family: 'Roboto', sans-serif;
                font-family: 'Roboto Condensed', sans-serif;
                
                h1, h2 {
                    font-weight: 300;
                    white-space: nowrap;
                }

                ul, li {
                    font-family: 'Roboto', sans-serif;
                    font-weight: 500;
                    list-style: none;
                    font-size: 14px;
                }

                &>ul{
                    padding:0;
                }

                ul > li {
                    padding-top:10px;
                    padding-bottom:4px;
                }

                li {
                    border-bottom: 1px solid #ccc;
                }
                
                li:last-child {
                    border: none;
                }
                
                li > strong {
                    text-decoration: none;
                    color: #000;
                    display: block;                  
                    font-size: 15px;
                    // -webkit-transition: font-size 0.3s ease;
                    // -moz-transition: font-size 0.3s ease;
                    // -o-transition: font-size 0.3s ease;
                    // -ms-transition: font-size 0.3s ease;
                    // transition: font-size 0.3s ease;
                }
                .jobs{
                    margin-top:40px;

                    .job-position{
                        display: -webkit-box;
                        display: -webkit-flex;
                        display: -ms-flexbox;
                        display: flex;
                        flex-wrap: wrap;

                        .fex{
                            display: flex;
                            flex-direction: column;
                        }

                        .name, .description{
                            padding-bottom:50px;
                            p {
                                margin:5px 0;
                            }
                        }
                    }
                }
                
                .line{
                    
                    .line-bar{
                        height: 100%;
                        width: 2px;
                        margin-left: 50%;
                        //background: black;
                        
                        .line-ball{
                            border-radius: 10px;
                            width:14px;
                            height: 14px;
                            margin-top: 5px;
                            //background: black;
                            margin-left:-6px;
                        }
                    }
                }
            }
        }
    }
}