html, body {
    background:$background;
    height:100%;
    padding:0;
    margin:0;

    h1,h2,h3,h4,h5,h6,a,div,p,li,ul,span {
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    
    #app, .app-main {
        height:100%;

       

        .cv{
            a {
                display: block;
                padding:20px 30px;
                border:1px solid black;
                border-radius: 4px;
            }
        }

        .left-panel {

            float:left;
            width:$panelsplit;
            height:100%;
            background:$background;
            overflow:hidden;
            border-right:1px solid $border;

            .branching {    
                height:100%;
                padding:0 40px;

                svg {
                    height:250%; 
                    position: relative;
                    top: 50%;
                    transform: perspective(1px) translateY(-50%); 
                    min-height: 2000px;
                    

                    .circle{
                        animation-duration: .4s;
                        transform-origin: center center;
                        -webkit-animation-fill-mode: forwards;
                        transform: scale(0.1);
                        
                        &:hover{ 
                            
                        }
                    }

                    &.finished {
                        .circle{
                            animation-name: buttonTransition;
                        }
                    }

                    
                }
            }
        }
        .main-window{
            float:left;
            height:100%;
            position: absolute;
            left:$panelsplit;
            top:0;
            right:0;

            .gallery{
                img{
                    width:100%;
                    height: auto;
                }

                .no-thingo{
                    margin:0;
                    padding:4px;

                    &.vertical:first-child{
                        padding-top:0;
                    }
                }
            }
            .example-img{
                max-width: 1200px;
                border-bottom: 20px solid $examplebackground;
                padding-bottom:200px;
                margin-top:40px;
          
                .desc{
                    p{
                        
                    }
                }

                .img-container{
                 
                    
                    img{
                       
                    }
                }
            }
            .cards{
                height:100%;
                overflow-y: auto;
            }

            .card1{
                border-right:1px solid $lightborder;     
            }

            .card{
                margin-top:50px;
                &.isamea {
                    width:60%;
                }

                &.hide-state{
                    display: none;
                }

                &.show-state{
                    display: block;
                } 

                float:left;
                padding:20px 40px;
                height:100%;
                    
                font-family: 'Roboto', sans-serif;
                font-family: 'Roboto Condensed', sans-serif;
                
                h1, h2 {
                    font-weight: 300;
                    white-space: nowrap;
                }

                ul, li {
                    font-family: 'Roboto', sans-serif;
                    font-weight: 500;
                    list-style: none;
                    font-size: 14px;
                }

                &>ul{
                    padding:0;
                }

                ul > li {
                    padding-top:10px;
                    padding-bottom:4px;
                }

                li {
                    border-bottom: 1px solid #ccc;
                }
                
                li:last-child {
                    border: none;
                }
                
                li > strong {
                    text-decoration: none;
                    color: #000;
                    display: block;                  
                    font-size: 15px;
                    // -webkit-transition: font-size 0.3s ease;
                    // -moz-transition: font-size 0.3s ease;
                    // -o-transition: font-size 0.3s ease;
                    // -ms-transition: font-size 0.3s ease;
                    // transition: font-size 0.3s ease;
                }
                .jobs{
                    margin-top:40px;

                    .job-position{
                        display: -webkit-box;
                        display: -webkit-flex;
                        display: -ms-flexbox;
                        display: flex;
                        flex-wrap: wrap;

                        .fex{
                            display: flex;
                            flex-direction: column;
                        }

                        .name, .description{
                            padding-bottom:50px;
                            p {
                                margin:5px 0;
                            }
                        }
                    }
                }
                
                .line{
                    
                    .line-bar{
                        height: 100%;
                        width: 2px;
                        margin-left: 50%;
                        //background: black;
                        
                        .line-ball{
                            border-radius: 10px;
                            width:14px;
                            height: 14px;
                            margin-top: 5px;
                            //background: black;
                            margin-left:-6px;
                        }
                    }
                }
            }
        }
    }
}